h3{
    color: #427D9D;

}

h1{
    color:rgb(40, 90, 11);
    font-family:'Frijole';
}

li{
    color:rgba(112, 38, 112, 0.911)
} 

a{
    color:rgb(119, 31, 4)
}
.nots{
    color: rgb(6, 73, 73);
}
#sulbahia{
    color: rgb(30, 30, 36);
}

